#home_button{
    position: absolute;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    font: 2vw serif;
    border: 2px solid black;
    text-align: center;
    padding: 1vw;
}

#home_button:hover {
    background-color: black;
    color: white;
}

#title{
    position: absolute;
    top: 9vw;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    font: 3.4vw serif;
    text-align: center;

}

#github_logo{
    position: absolute;
    width: 13vw;
    left: 50%;
    transform: translateX(-50%);
    top: 18vw;
    
}

.header{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font: 3vw serif;
}

.map{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 50vw;
    border: 2px solid black;

}

#header_one{
    top: 28vw;
}

#map_one{
    top: 33vw;
}

#header_two{
    top: 89vw;
}

#map_two{
    top: 94vw;
}

#header_three{
    top: 150vw;
}

#map_three{
    top: 155vw;
}

#header_four{
    top: 211vw;
    font-size: 2.7vw;
}

#map_four{
    top: 216vw;
}

#header_five{
    top: 272vw;
}

#map_five{
    top: 277vw;
}

#header_six{
    top: 333vw;
}

#map_six{
    top: 338vw;
}



